:root {
    /* CSS HEX */
    --pink-lavender: #cdb4dbff;
    --orchid-pink: #ffc8ddff;
    --nadeshiko-pink: #ffafccff;
    --uranian-blue: #bde0feff;
    --baby-blue-eyes: #a2d2ffff;
    
}

body {
  background-color: var(--pink-lavender);
}

.header {
  background-color: whitesmoke;
  height: 99px;
}

.game-container {
  background-color: white;
  height: 73vh;
}

.game-item-card {
  float: left;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
}

.game-item-card:hover {
  border-color: var(--baby-blue-eyes);
  background-color: azure;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--baby-blue-eyes);
  height: 101px;
}

